body{
    background-color:#FFFFFF; 
}
.container{
    background-image: url("02.jpg");
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width:1300px;
    height:800px;
}
#function {
  /* background-color:hsla(0, 0%, 60%, 0.7); */
  display: block;
  width:1300px;
  height:60px;
}
#colorblock{
  background-color:hsla(0, 0%, 60%, 0.7);
  display: block;
  width:1300px;
  height:60px;
}
.button {
    background-color: #666666; /* Green */
    border: none;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #4CAF50;} /* Black */
.button6 {background-color: #009FCC;} /* Black */
.button7 {background-color: #B088FF;} /* Black */
.button8 {background-color: #660077;} /* Black */
.button9 {background-color: #245585;} /* Black */
.button10 {background-color: #BBBB00;} /* Red */ 
.button11 {background-color: #AA7700;} /* Red */ 
/* 4CAF50 */
input[type="range"]{
    width:200px;
    height:20px;
    outline : none;      /* 避免點選會有藍線或虛線 */
    background:none;
}
canvas{
    /*position: center;
    top: 10px;
    left: 10px;*/
    display: block;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    /* 改滑鼠為十字狀 */
    /* cursor:crosshair;  */
}
input {
  font: 14px sans-serif;
}
.color {
    width: 30px;
    height: 20px;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    margin-right: auto;
    cursor: pointer;
    display: flex;
  }
  .color:hover{
    border: 3px solid black;
  }
  #colorboard {
    position: center;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    cursor:pointer; 
  }
  #text {
    margin-left: 250px;
  }
  #reset {
    margin-left: 250px;
  }
  #red {
    margin-left: 300px;
    background-color: red;
  }
  #blue {
    background-color: blue;
  }
  #green {
    background-color: green;
  }
  #purple {
    background-color: purple;
  }
  #yellow {
    background-color: yellow;
  }
  #orange {
    background-color: orange;
  }
  #pink {
    background-color: pink;
  }
  #black {
    background-color: black;
  }
  #ebebeb {
    background-color: #ebebeb44;
    margin-right: 20px;
  }